@import "tailwindcss";

body {
  background-color: #0B192C;
  color: #FFFFFF;
  font-family: 'Manrope', sans-serif;
}

h1 {
  font-family: 'Zen Tokyo Zoo', cursive;
  color: #FF6500;
}

.card-glow:hover {
  box-shadow: 0 0 20px #ff6500aa;
}

.animate-equalizer {
  animation-name: equalizer;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  transform-origin: center;
  animation: equalizer 1.8s ease-in-out infinite;
  background: linear-gradient(to top, #ff6500, #ff9a00);
  filter: drop-shadow(0 0 4px #ff6500aa);
}

@keyframes equalizer {
  0% {
    transform: scaleY(0.4);
  }

  20% {
    transform: scaleY(1.0);
  }

  40% {
    transform: scaleY(0.3);
  }

  60% {
    transform: scaleY(0.85);
  }

  80% {
    transform: scaleY(0.5);
  }

  100% {
    transform: scaleY(0.4);
  }
}